@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title. Cumbernauld Theatre Group</h2>


<p>The Peoples’ Company (Formally the Actors’ Group) is Cumbernauld Theatre’s community-based theatre group for adults interested in learning about drama and theatre. The group meet weekly (Thursdays 7.00-9.00pm and Sundays 7.30-9.30pm) and creates two productions per year. The group is fully integrated and welcomes new members of all abilities.</p>
