@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <div class="row">
    <div class="col-sm-2">
        <img src="~/Content/theatre-group.svg"/>
    </div>
        <div class="col-sm-10">
            <h1>Cumbernauld Theatre Group</h1>
            <p class="lead">The Peoples’ Company (Formally the Actors’ Group) is Cumbernauld Theatre’s community-based theatre group for adults interested in learning about drama and theatre. The group meet weekly (Thursdays 7.00-9.00pm and Sundays 7.30-9.30pm) and creates two productions per year. The group is fully integrated and welcomes new members of all abilities.</p>
            <p>
                <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
            </p>
        </div>
        </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acting Class</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Upcoming Performances</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sponsorship</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>